.inner-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 20%;
    font-size: 1.375em;
    font-weight: bold;
}

.login-form {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    width: 100%;
    padding-left: 1em;
    margin-bottom: 30px;
    color: #f00;
    
}

.input-text {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}

.input-text input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 2px solid #909090;
    border-radius: 4px;
    padding-left: 1em;
    background-color: transparent;
    font-size: 1em;
}

.submit-button {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}

.submit-button button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    background-color: #214be0;
    color: #fff;
    font-size: 1em;
}

.register-guidance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-guidance {
    line-height: 1.5em;
    color: #909090;
}

.register-guidance a {
    color: #214be0;
}
